@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.image48Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 256.95px;
  height: 360px;
  object-fit: cover;
}
.image {
  background: linear-gradient(180deg, #a18cc5, #9c87c2);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
}
.image,
.image1,
.image2 {
  position: relative;
  border-radius: var(--br-base);
  width: 240px;
  height: 360px;
  flex-shrink: 0;
  overflow: hidden;
}
.image1 {
  background: linear-gradient(180deg, #78cfd9, #6fcbd6);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
}
.image2 {
  background-color: var(--color-pink);
}
.image50Icon {
  position: absolute;
  top: 0;
  left: -8px;
  width: 256.95px;
  height: 360px;
  object-fit: cover;
}
.image4 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-plum);
  width: 240px;
  height: 360px;
  flex-shrink: 0;
  overflow: hidden;
}
.imageParent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.component5 {
  position: absolute;
  top: 138px;
  left: 40px;
  width: 240px;
  height: 1100px;
  overflow: hidden;
}
.image75Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 247.93px;
  height: 360px;
  object-fit: cover;
}
.image6 {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-pink);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
  width: 240px;
  height: 360px;
  flex-shrink: 0;
  overflow: hidden;
}
.image75Icon3 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 247.93px;
  height: 360px;
  object-fit: cover;
}
.image10,
.image11 {
  position: relative;
  border-radius: var(--br-base);
  width: 240px;
  height: 360px;
  flex-shrink: 0;
  overflow: hidden;
}
.image10 {
  background-color: var(--color-lightsteelblue-100);
}
.image11 {
  background: linear-gradient(180deg, #a18cc5, #9c87c2);
}
.imageGroup {
  position: absolute;
  top: -1140px;
  left: 0;
  background-color: var(--nft-app-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.component10 {
  position: absolute;
  top: 128px;
  left: 296px;
  width: 240px;
  height: 1100px;
  overflow: hidden;
}
.image48Icon1 {
  position: absolute;
  top: 22px;
  left: 0;
  width: 256.95px;
  height: 360px;
  object-fit: cover;
}
.component9 {
  position: absolute;
  top: 38px;
  left: 552px;
  width: 240px;
  height: 1100px;
  overflow: hidden;
}
.image75Icon9 {
  position: absolute;
  top: 24px;
  left: 0;
  width: 247.93px;
  height: 360px;
  object-fit: cover;
}
.component11 {
  position: absolute;
  top: 48px;
  left: 808px;
  width: 240px;
  height: 1100px;
  overflow: hidden;
}
.component5Parent {
  position: absolute;
  top: -60px;
  left: 602px;
  background: linear-gradient(236.78deg, #fff, rgba(255, 255, 255, 0));
  width: 1088px;
  height: 1864px;
}
.exploreAndFight,
.joinOurMailing {
  position: relative;
  display: inline-block;
  width: 542px;
}
.exploreAndFight {
  font-weight: 600;
}
.joinOurMailing {
  font-size: var(--font-size-xl);
  line-height: 160%;
  color: var(--grey-700);
}
.exploreAndFightForOpinionsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.explore {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--inter-medium-16);
  color: var(--nft-app-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 20px;
  flex-shrink: 0;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--primary-blue);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
}
.button.animate,
.button1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.create {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--inter-medium-16);
  color: var(--primary-blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 20px;
  flex-shrink: 0;
}
.button1,
.buttonGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--primary-blue);
  padding: var(--padding-base);
  background-color: var(--nft-app-white);
  border-radius: var(--br-31xl);
  flex-direction: column;
  opacity: 0;
}
.buttonGroup {
  flex-direction: row;
  gap: var(--gap-xs);
}
.playCircleFilledBlack24dpIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.exploreMoreAbout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--inter-medium-16);
  color: var(--primary-blue);
  text-align: left;
  display: inline-block;
}
.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.frameParent {
  position: absolute;
  top: 283px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.fading {
  position: absolute;
  top: 752px;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
  width: 1440px;
  height: 272px;
}
.frameChild,
.timefeedLowResolutionLogoB {
  border: 0;
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
}
.timefeedLowResolutionLogoB {
  cursor: pointer;
  padding: 0;
  width: 272px;
  height: 74px;
  background-image: url(/timefeedlowresolutionlogoblackonwhitebackground3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frameChild {
  font-family: var(--inter-medium-16);
  font-size: var(--inter-medium-16-size);
  width: 337px;
  height: 56px;
}
.darkModeChild {
  position: absolute;
  top: 16px;
  left: 51px;
  width: 28px;
  height: 27px;
}
.darkMode {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-dodgerblue);
  position: relative;
  border-radius: var(--br-31xl);
  width: 89px;
  height: 59px;
  flex-shrink: 0;
  overflow: hidden;
}
.menus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.accountBalanceWalletBlack2Icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.timefeedLowResolutionLogoBParent {
  width: 1351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--nft-app-white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-25xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.sectionhomepage {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-100);
  height: 1024px;
  flex-shrink: 0;
  overflow: hidden;
}
.sectionhomepageWrapper {
  position: absolute;
  top: -14px;
  left: 0;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--text-black);
  font-family: var(--inter-medium-16);
}
